#root {
  min-height  : 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: rgb(6, 13, 62);
  color: white;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-size: xx-large;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}